.leaflet-container {
  height: 900px;
  width: 100%;
}
.pin {
  border-radius: 50%;
  border: 8px solid #fff;
  width: 8px;
  height: 8px;
}

.pin::after {
  position: absolute;
  content: '';
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}
